.deck{
    width: 700px;
    height: 200px;
    border: 2px solid #E8E8E8;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.create-deck-button {
    background-color: #6C757D;
    padding: 12px;
    color: #ffffff;
}

